---
import BotonContacto from "../components/BotonContacto.astro";
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import Tarjetas from "../components/Tarjetas.astro";
import Servicios from "../components/Servicios.astro";

const NombreContacto = "!Visitanos y descrubre por qué somos tu mejor opción!";
---

<Layout title="Papelería Jsandy - Te Ofrecemos todo en un solo lugar">
  <main class="px-20 py-10 mt-24">
    <!--Seccion Header -->
    <section>
      <div class="flex lg:text-center justify-center items-center">
        <div class="lg:max-w-4xl text-pretty mr-40">
          <h1 class="text-4xl lg:text-justify text-wrap pb-8">
            En <span class="text-blue-900 font-semibold">Papeleria Jsandy</span
            >, ofrecemos todo lo que buscas con Productos escolares, Belleza,
            Jugueteria, Piñateria y Servicio Bancolombia.
          </h1>
          <p class="text-center pb-10">
            "Te ofrecemos una amplia variedad de productos de alta calidad y un
            servicio al cliente excepcional, encuentra todo lo que necesitas en
            un solo lugar".
          </p>
          <BotonContacto>
            {NombreContacto}
          </BotonContacto>
        </div>

        <div class="justify-center items-center">
          <Carousel />
        </div>
      </div>
    </section>
    <!--Final Seccion Header -->

    <!--Seccion Beneficios-->
    <section class="mt-32 bg-blue-100 rounded p-5 shadow-xl">
      <Tarjetas />
    </section>
    <!--Final Seccion Beneficios-->

    <!--Seccion Marcas -->
    <section class="mt-32">
      <Servicios />
    </section>
    <!--Final Seccion Marcas -->
  </main>
</Layout>
