---
import Layout from "../layouts/Layout.astro";
import Beneficios from "../components/Beneficios.astro";
import Servicios from "../components/Servicios.astro";
import Principal from "../components/Principal.astro";
import Ubicacion from "../components/Ubicacion.astro";
---

<Layout title="Papelería Jsandy - Te Ofrecemos todo en un solo lugar">
  <main class="px-20 py-10 mt-24" id="principal">
    <!--Seccion Header -->
    <section class="my-20 size-full">
      <Principal />
    </section>
    <!--Final Seccion Header -->

    <!--Seccion Beneficios-->
    <section
      class="my-60 bg-blue-100 rounded p-5 shadow-lg shadow-blue-200 size-full"
    >
      <Beneficios />
    </section>
    <!--Final Seccion Beneficios-->

    <!--Seccion Marcas -->
    <section class="my-60 size-full">
      <Servicios />
    </section>
    <!--Final Seccion Marcas -->

    <!--Seccion Marcas -->
    <section class="my-60 size-full">
      <Ubicacion />
    </section>
    <!--Final Seccion Marcas -->
  </main>
</Layout>
