---
import PrincipalNosotros from "../components/Nosotros/PrincipalNosotros.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Papelería Jsandy - Te Ofrecemos todo en un solo lugar">
  <main class="px-20 py-10 mt-24" id="Nosotros">
    <section class="my-20 size-full">
      <PrincipalNosotros />
    </section>
  </main>
</Layout>
