---
import PrinicipalProductos from "../components/Productos/PrinicipalProductos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Papelería Jsandy - Te Ofrecemos todo en un solo lugar">
  <main class="px-20 py-10 mt-24" id="Productos">
    <section class="my-20 size-full">
      <PrinicipalProductos />
    </section>
  </main>
</Layout>
