---
import PrinicipalProductos from "../components/Productos/PrinicipalProductos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Papelería Jsandy - Te Ofrecemos todo en un solo lugar" >
    <main>
        <PrinicipalProductos />
    </main>
</Layout>
