---

---

<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.32547016509!2d-73.09999571622649!3d7.088217998092731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f350ce90ff5%3A0x31236ccef80ef1fc!2sPapeleria%20Jsandy!5e0!3m2!1ses!2sco!4v1714659814861!5m2!1ses!2sco"
    width="600"
    title="Ubicación Papeleria Jsandy"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
