---
const estilo = "bg-blue-300 p-5 rounded";

const SERVICIOS = [
    {
        
    }
]
---

<div class="flex flex-wrap gap-x-40">
  <div class={estilo}>
    <h4 class="font-semibold text-3xl text-blue-900">Servicios Papeleria</h4>
    <ul>

    </ul>
  </div>

  <div class={estilo}>
    <h4 class="font-semibold text-3xl text-blue-900">Servicios Bancolombia</h4>
  </div>
</div>
