---
import Impresiones from "../Icons/Impresiones.astro";
import Fotocopias from "../Icons/Fotocopias.astro";
import Escanner from "../Icons/Escanner.astro";
import Redaccion from "../Icons/Redaccion.astro";
import Material from "../Icons/Material.astro";
import Cosmetiqueria from "../Icons/Cosmetiqueria.astro";
import Piñateria from "../Icons/Piñateria.astro";
import Jugueteria from "../Icons/Jugueteria.astro";
import Cacharreria from "../Icons/Cacharreria.astro";
import Electronicos from "../Icons/Electronicos.astro";

import Internacionales from "../Icons/Internacionales.astro";
import Regionales from "../Icons/Regionales.astro";
import Retiros from "../Icons/Retiros.astro";
import Tarjetas from "../Icons/Tarjetas.astro";
import RecibosPublicos from "../Icons/RecibosPublicos.astro";
import ReciboTelefonia from "../Icons/ReciboTelefonia.astro";

const estilo = "bg-blue-100 p-10 rounded shadow-lg shadow-blue-200";

const SERVICIOSPAPELERIA = [
  {
    Icon: Impresiones,
    Text: "Impresora",
  },
  {
    Icon: Fotocopias,
    Text: "Fotocopias",
  },
  {
    Icon: Escanner,
    Text: "Escanners",
  },
  {
    Icon: Redaccion,
    Text: "Redacción Documentos",
  },
  {
    Icon: Material,
    Text: "Materiales Escolares",
  },
  {
    Icon: Cosmetiqueria,
    Text: "Cosmetiqueria",
  },
  {
    Icon: Piñateria,
    Text: "Piñateria",
  },
  {
    Icon: Jugueteria,
    Text: "Jugueteria",
  },
  {
    Icon: Cacharreria,
    Text: "Cacharreria",
  },
  {
    Icon: Electronicos,
    Text: "Productos Electronicos",
  },
];

const SERVICIOSBANCO = [
  {
    Icon: Internacionales,
    Text: "Consiganaciones Internacionales",
  },
  {
    Icon: Regionales,
    Text: "Consignaciones Regionales",
  },
  {
    Icon: Retiros,
    Text: "Retiros Bancolombia - Nequi",
  },
  {
    Icon: Tarjetas,
    Text: "Pago De Tarjetas Debito - Credito",
  },
  {
    Icon: RecibosPublicos,
    Text: "Pago De Recibos Publicos",
  },
  {
    Icon: ReciboTelefonia,
    Text: "Pago De Recibos De Telefonia",
  },
];
---

<div class="flex flex-wrap text-center items-center justify-center gap-x-40">
  <div class={estilo}>
    <h3 class="font-semibold text-4xl pb-5 text-blue-900">
      Servicios Papeleria
    </h3>
    <ul>
      {
        SERVICIOSPAPELERIA.map((servicios) => (
          <li
            class="flex text-center items-center justify-center gap-x-5 my-2 p-2 bg-white rounded
                    hover:border border-blue-700 hover:bg-blue-50 hover:bg-transparent hover:text-blue-700 hover:-translate-y-1 hover:scale-110 font-bold transition ease-in-out cursor-pointer"
          >
            <servicios.Icon />
            {servicios.Text}
          </li>
        ))
      }
    </ul>
  </div>

  <div class={estilo}>
    <h3 class="font-semibold text-4xl pb-5 text-blue-900">
      Servicios Bancolombia
    </h3>
    <ul>
      {
        SERVICIOSBANCO.map((serviciosB) => (
          <li
            class="flex text-center items-center justify-center gap-x-5 my-2 p-2 bg-white rounded
                    hover:border border-blue-700 hover:bg-blue-50 hover:bg-transparent hover:text-blue-700 hover:-translate-y-1 hover:scale-110 font-bold transition ease-in-out cursor-pointer"
          >
            <serviciosB.Icon />
            {serviciosB.Text}
          </li>
        ))
      }
    </ul>
  </div>
</div>
