---
import Home from "../Icons/Home.astro";
import Producto from "../Icons/Productos.astro";
import Nosotros from "../Icons/Nosotros.astro";

const NavItems = [
  {
    Icon: Home,
    title: "Inicio",    
    Url: '/',
  },
  {
    Icon: Nosotros,
    title: "Nosotros",
    Url: '/Nosotros',
  },
];
---

{
  NavItems.map((link) => (
    <li>
      <a
        href={link.Url}
        class="flex gap-2 py-2 px-3 text-black font-semibold hover:text-blue-600"        
      >
        <link.Icon />
        {link.title}
      </a>
    </li>
  ))
}
