---
const NavItems = [
  {    
    title: "Inicio",
    Url: "/",
  },
  {    
    title: "Productos",
    Url: "/#Productos",
  },
  {    
    title: "Nosotros",
    Url: "/#Nosotros",
  },
];
---

<ul class="flex font-medium space-x-10 rtl:space-x-reverse">
  {
    NavItems.map((link) => (
      <li>
        <a href={link.Url}        
        class="flex text-blue-900">          
          {link.title}
        </a>
      </li>
    ))
  }
</ul>
