---
import Home from "../Icons/Home.astro";
import Servicios from "../Icons/Servicios.astro";
import Beneficios from "../Icons/Beneficios.astro";

const NavItems = [
  {
    Icon: Home,
    title: "Inicio",    
    Url: '/',
  },
  {
    Icon: Beneficios,
    title: "Beneficios",
    Url: '#beneficios',
  },
  {
    Icon: Servicios,
    title: "Servicios",
    Url: '#servicios',
  },
];
---

{
  NavItems.map((link) => (
    <li>
      <a
        href={link.Url}
        class="flex gap-2 py-2 px-2 text-black font-semibold hover:text-blue-600"        
      >
        <link.Icon />
        {link.title}
      </a>
    </li>
  ))
}
