---
const NavItems = [
  {
    title: "Inicio",
    Url: "/",  
  },
  {
    title: "Productos",
    Url: "/#Productos",
  },
  {
    title: "Nosotros",
    Url: "/#Nosotros",
  },
];
---

{
  NavItems.map((link) => (
    <li>
      <a
        href={link.Url}
        class="block py-2 px-3 text-black font-semibold hover:text-blue-600"
        aria-current="page"
      >
        {link.title}
      </a>
    </li>
  ))
}
