---
import BotonContacto from "../components/BotonContacto.astro";
import LinksNavbar from "../components/LinksNavbar.astro";

import Logo from "../components/Logo.astro";
---

<nav class="bg-gray-100 shadow-lg shadow-gray-300 fixed w-full z-20 top-0 start-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <Logo />

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <BotonContacto />
    </div>

    <div class="items-center justify-between w-auto">
      <LinksNavbar />
    </div>
  </div>
</nav>
