---
import CardServicios from "./CardServicios.astro";


---

<div class="text-center items-center justify-center">
    <h2 class="text-blue-700 font-bold text-5xl mb-16">Servicios Ofrecidos</h2>
    <CardServicios />
</div>