---
import Cards from "../components/Card.astro";
---

<div class="py-10">
  <h2
    class="text-center justify-center items-center mb-10 text-blue-900 font-bold text-5xl"
  >
    Beneficios de tu <span class="text-blue-700"> Papeleria Jsandy</span>
  </h2>
  <div class="grid grid-cols-5 gap-5 text-center justify-center">
    <Cards />
  </div>
</div>
