---
import CardBeneficios from "./CardBeneficios.astro";
---

<div class="py-10 w-full">
  <h2
    class="text-center justify-center items-center mb-10 text-blue-900 font-bold 2xl:text-5xl
    xl:text-4xl"
  >
    Beneficios de tu <span class="text-blue-700"> Papeleria Jsandy</span>
  </h2>
  <div class="grid grid-cols-5 gap-5 text-center justify-center">
    <CardBeneficios />
  </div>
</div>
