---
import { Image } from "astro:assets"

import usuario from "/public/Image/usuario.gif"
import redesociales from "/public/Image/redes-sociales.gif"
import lectura from "/public/Image/modo-de-lectura.gif"
import etiqueta from "/public/Image/etiqueta.gif"
import tecnico from "/public/Image/apoyo-tecnico.gif"


const cards = [
  {
    image: usuario,
    title: "Variedad Incomparable",
    descripcion:
      "Desde útiles básicos hasta artículos especializados, tenemos todo lo que necesitas para el éxito académico.",
  },
  {
    image: redesociales,
    title: "Productos de alta calidad",
    descripcion:
      "Nos comprometemos a ofrecer productos duraderos y funcionales que cumplen con los más altos estándares de calidad.",
  },
  {
    image: lectura,
    title: "Atención personalizada",
    descripcion:
      "Nuestro equipo está siempre dispuesto a ayudarte y brindarte el mejor servicio al cliente para que encuentres exactamente lo que buscas.",
  },
  {
    image: etiqueta,
    title: "Precios competitivos",
    descripcion:
      "Ofrecemos precios asequibles para que puedas obtener los productos que necesitas sin comprometer tu presupuesto.",
  },
  {
    image: tecnico,
    title: "Innovación constante",
    descripcion:
      "Estamos siempre al tanto de las últimas tendencias y novedades en el mercado paraofrecerte productos innovadores y de vanguardia.",
  },
];
---

{
  cards.map(({ image, title, descripcion }) => (
    <div class=" bg-blue-50 rounded-lg p-5 text-center justify-center items-center">
      <div class="flex text-center items-center justify-center">
        <Image
          src={image}
          alt="Imagen"          
          class="flex w-24 H-24 rounded-lg text-center justify-center"
        />
      </div>
      <h3 class="text-blue-900 pt-5 font-bold text-2xl">{title}</h3>
      <p class="mt-5 font-medium text-pretty">{descripcion}</p>
    </div>
  ))
}
