---
import BotonContacto from "./BotonContacto.astro";
import Carousel from "./Carousel.astro";

const NombreContacto = "!Visitanos y descrubre por qué somos tu mejor opción!";
---

<div class="flex lg:text-center justify-center items-center">
  <div class="2xl:max-w-4xl text-pretty mr-40 xl:max-w-2xl xl:mr-20">
    <h1 class="2xl:text-5xl text-justify text-wrap mb-12
    md:text-4xl">
      En <span class="text-blue-900 font-semibold">Papeleria Jsandy</span>,
      ofrecemos todo lo que buscas con Productos escolares, Belleza, Jugueteria,
      Piñateria y Servicio Bancolombia.
    </h1>
    <p class="text-center 2xl:text-xl mb-10 xl:text-base">
      "Te ofrecemos una amplia variedad de productos de alta calidad y un
      servicio al cliente excepcional, encuentra todo lo que necesitas en un
      solo lugar".
    </p>
    <BotonContacto>
      {NombreContacto}
    </BotonContacto>
  </div>

  <div class="justify-center items-center xl:w-[25em]">
    <Carousel />
  </div>
</div>
