---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="En Papelería Jsandy, ofrecemos una amplia gama de servicios y productos, desde impresiones y fotocopias hasta materiales escolares, bisutería y cosméticos. Además, brindamos conveniencias como servicios bancarios, recargas y pagos de servicios. ¡Encuentra todo lo que necesitas en un solo lugar con nosotros"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="Papelería, Impresiones, Fotocopias, Scanners, Materiales escolares, Bisutería, Cosméticos, Servicios bancarios, Pagos de servicios"
    />
    <meta name="Lang" content="es" />
    <meta name="Author" content="Brayan Mejia" />
    <link rel="icon" type="icon" href="#">
    <title>{title}</title>
  </head>
  <body>
	
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  
  body {
    font-family: "Roboto", sans-serif;
  }
</style>

